Package: com.tomaszpoliszuk.lockscreenbatterymagsafe
Depends: firmware (>= 14.1), mobilesubstrate
Name: MagSafe Enabler
Version: 1.0.1
Architecture: iphoneos-arm
Author: Tomasz Poliszuk
Section: Tweaks
dev: tomaszpoliszuk
